.passwordWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #08183c;
}
.passwordbody{
    width: 40%;
    height: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
}
.input1{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    /* border: 1px solid black; */
}
.input2{
    width: 50%;
    height: 25%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-size: large;
    gap: 10px;
    /* border: 1px solid black; */
}
.input2 input{
    width: 100%;
    height: 60%;
    border-radius: 5px;
    outline: none;
    border: 1px solid #08183c;
    padding-left: 10px;
    font-family: 20px;
    font-size: 25px;
}
.input2 p{
    font-size: 20px;
}
.input2 button{
    width: 100%;
    height: 60%;
    background-color: #0e2558;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.input2 button:hover{
    background-color: #16367c;
}
.input2 button:active{
    background-color: #0e2558;
}